td{
 border-collapse:collapse;
 font-family:Verdana, Geneva, Tahoma, sans-serif
}
tbody:first-child{
    width:50px;
}
td:not(:first-child){
width:100px;
border-bottom: 1px solid white;
}
thead td{
    background-color:green;
    color: white;
}
tr:nth-child(odd){
    background-color:green;
    color: white;

}
tr:nth-child(even){
    background-color:green;
    color:white;
}
td:hover{
    background-color: olive;
    color: white;
}