h1{
    color: darkmagenta; 
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    
}


p{
    text-indent: 30px;
    line-height: 1.5;
    font-size: 14px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


li{
    color:cornflowerblue;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace
}


